<div class="container">
    <div class="card card-css">
        <div class="card-body">
            <h4>Login</h4>

            <div class="row mt-3">
                <div class="col-12">
                    <label class="col-6" for="name">User name</label>
                    <input id="name" class="form-control" type="text" placeholder="Enter a Name" [(ngModel)]="name">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" placeholder="Enter a Password"
                        [(ngModel)]="password">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div style="float:right !important">
                        <button type="button" class="btn btn-link" (click)="goToRegister()">Register</button>
                        <button type="button" class="btn btn-secondary mx-2" (click)="clearForm()">Clear</button>
                        <button type="button" class="btn btn-primary"  (click)="userSignin()">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>